// Place all the styles related to the animations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.animation_thumbnail {
  margin-bottom: 1em;
  margin-right: 2em;
  max-width: 20vw;
  max-height: 30vh;
}

.animation_name {
  font-size: 30px;
  font-weight: bold;
  max-width: 20vw;
  max-height: 30vh;
}
