// Place all the styles related to the animations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-animation-grid {
  display:inline-block;
  width: 24vw;
}

.animation_thumbnail {
  margin-bottom: 1em;
  margin-right: 2em;
  max-width: 15vw;
  max-height: 16vh;
  display: inline-table;
}

.animation_name {
  font-size: 20px;
  font-weight: bold;
  color: rgba(41, 10, 71, 0.82);
  display: block;
}

.animations {
  background-color: rgba(#dbedf6, 0.43);
}

.artist {
  margin-top: 40px;
  margin-bottom: 3rem;
  font-size: 20px;
  font-family: 'Fredericka the Great', cursive;
}

#description {
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: 20px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
}
