// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

$highfont: #6BB298;
$mainFont: 'Fjalla One', sans-serif;

* {
  padding: 0;
  margin: 0;
}

.session {
  background-color: rgba(#d6f4ee, 0.43);
}

body {
  background-color: lightpink;
  background-image: url("manga-1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

nav {
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: rgb(211, 211, 211);
  padding-bottom: 1.3em;
  padding-top: 1.3em;

  a {
    padding: 0.4em;
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: $highfont;
    transition: 2s;
  }
} //end of nav

.rainbow {
  font-size: 160px;
  font-family: 'Monoton', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 4s infinite;
}

@media screen and (max-width: 768px) {
  .rainbow {
    font-size: 80px;}
}
@media screen and (max-width: 400px) {
  .rainbow {
    font-size: 40px;}
}

h2 {
  font-size: 60px;
  font-family: 'Monoton', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 4s infinite;
}

@-webkit-keyframes rainbow {
  0%{color: pink;}
  10%{color: pink;}
	20%{color: orange;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: coral;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

footer {
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(211, 211, 211, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 13vh;
  text-align: center;
}

.whiteicon {
  max-width: 5vh;
  max-height: 5vh;
  display:inline-flex;
  align-items: center;
  padding-bottom: 1em;
  padding: 0;
  margin: 0 auto;
}

#githubicon:hover {
  background-color:black;
  border-radius: 100%;
}

.whiteicon:hover {
  background-color:black;
  border-radius: 10px;
}
