// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.loginWrapper {
margin-bottom: 3rem;
}

.loginbtn {
margin-top: 6em;
width: 35% !important;
}

.emailLabel {
margin-left:6rem;
}
.passwordLabel {
margin-left:4rem;
}
